{% extends 'index.html' %}
{% load staticfiles %}
{% block main_content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="header">
        <h4 class="title">Ingresa el path para extraer</h4>
      </div>
      <div class="content">
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input name= "path" type="text" class="form-control" placeholder="el/path/al/archivo" >
              </div>
            </div>
          </div>


          <button type="submit" class="btn btn-info btn-fill pull-right">Extraer</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
